.loginWrapper{
    display: flex;
    justify-content: center;
}

.loginCard{
    width: 27vw;
    margin-top: 10%;
}

.insta-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.insta-logo img{
    width: 15vw;
}

.imgcar{
    margin-top: 8vh;
    height: 590px;
    width: 441px;
    position: relative;
}

.car{
    height: 423px;
    width: 241px;
    position: absolute; 
    left: 143px;
    top: 93px;
}

@media screen and (max-width:400px){
    .loginWrapper{
        flex-wrap: wrap;
    }
    .imgcar{
        height: 70vh;
        width: 50vh;
        position: static;

    }
    .loginCard{
        width: 50vh;
        margin-bottom: 30%;
    }
    .insta-logo img{
        width: 40vw;
    }
    .car{
        height: 120px;
        width: 187px;
        left: 133.5px;
        top: 125.5px;
    }
}